<div class="alert alert-danger order-create-alert" role="alert">
  <h3 class="main-message center-text">You can't perform this action!</h3>
</div>

<div class="center-text">
  <table class="center-object">
    <tbody>
      <td>
        <tr><%= link_to 'Main page', root_path, class: 'btn btn-primary' %></tr>
      </td>
    </tbody>
  </table>
</div>